<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PurchaseMapper">

	<resultMap id="purchaseSelectMap" type="purchase">
	
		<result property="tranNo" column="tran_no" jdbcType="NUMERIC"/>
		<result property="paymentOption" column="payment_option" jdbcType="CHAR"/>
		<result property="receiverName" column="receiver_name" jdbcType="VARCHAR"/>
		<result property="receiverPhone" column="receiver_phone" jdbcType="VARCHAR"/>
		<result property="dlvyAddr" column="dlvy_addr" jdbcType="VARCHAR"/>
		<result property="dlvyRequest" column="dlvy_request" jdbcType="VARCHAR"/>
		<result property="tranCode" column="tran_status_code" jdbcType="CHAR"/>
		<result property="orderDate" column="order_date" jdbcType="DATE"/>
		<result property="dlvyDate" column="dlvy_date" jdbcType="VARCHAR"/>
		<result property="dlvyDate" column="dlvy_date" jdbcType="VARCHAR"/>
		<result property="rowNum" 	column="row_seq" 	jdbcType="NUMERIC"/>
		
		<association property="purchaseProd"  javaType="product">
			<id property="prodNo" column="prod_no" jdbcType="NUMERIC"/>
			<result property="prodName" column="prod_name" jdbcType="VARCHAR"/>
			<result property="prodDetail" column="prod_detail" jdbcType="VARCHAR"/>
			<result property="manuDate" column="manufacture_day" jdbcType="VARCHAR"/>
			<result property="price" column="price" jdbcType="NUMERIC"/>
			<result property="fileName" column="image_file" jdbcType="VARCHAR"/>
			<result property="regDate" column="prod_reg_date" jdbcType="DATE"/>
			<result property="proTranCode" column="TRAN_STATUS_CODE" jdbcType="VARCHAR"/>
			<result property="rowNum" 		column="row_seq" 	jdbcType="NUMERIC"/>
		</association>
		
		<association property="buyer"  javaType="user">
			<id property="userId" column="buyer_id" jdbcType="VARCHAR"/>
			<result property="userName" column="user_name" jdbcType="VARCHAR"/>
			<result property="password" column="password" jdbcType="VARCHAR"/>
			<result property="role" column="role" jdbcType="VARCHAR"/>
			<result property="ssn" column="ssn" jdbcType="VARCHAR"/>
			<result property="phone" column="cell_phone" jdbcType="VARCHAR"/>
			<result property="addr" column="addr" jdbcType="VARCHAR"/>
			<result property="email" column="email" jdbcType="VARCHAR"/>
			<result property="regDate" column="reg_date" jdbcType="DATE"/>
		</association>
	</resultMap>
	
	<insert id="addPurchase" parameterType="purchase">
		INSERT INTO
		transaction (
			tran_no, 
			prod_no, 
			buyer_id,  
			payment_option, 
			receiver_name,
			receiver_phone,
			dlvy_addr,
			dlvy_request,
			tran_status_code,
			order_date,
			dlvy_date
		) 
		VALUES (
			seq_transaction_tran_no.nextval,
			#{purchaseProd.prodNo:NUMERIC},
			#{buyer.userId:VARCHAR},
			#{paymentOption:CHAR},
			#{receiverName:VARCHAR},
			#{receiverPhone:VARCHAR},
			#{dlvyAddr:VARCHAR},
			#{dlvyRequest:VARCHAR},
			#{tranCode:CHAR},
			SYSDATE,
			#{dlvyDate:DATE}
		)
		
	</insert>
	
	<select id="getPurchase" parameterType="int" resultMap="purchaseSelectMap">
	
		SELECT
		t.*, 
		p.*, 
		u.*		
		from TRANSACTION t, PRODUCT p, USERS u
		
		where t.prod_no = p.prod_no AND t.buyer_id = u.user_id 
			AND t.tran_no = #{tranNo}
	</select>
	
	<!-- 
	t.TRAN_NO tranNo,
		t.prod_no prodNo,
		t.buyer_id buyer,
		t.PAYMENT_OPTION paymentOption,
		t.RECEIVER_NAME receiverName,
		t.RECEIVER_PHONE receiverPhone,
		t.DLVY_ADDR dlvyAddr,
		t.DLVY_REQUEST dlvyRequest,
		t.TRAN_STATUS_CODE tranCode,
		t.ORDER_DATE orderDate,
		TO_CHAR(t.DLVY_DATE, 'YYYY-MM-DD') dlvyDate,
		
		p.PROD_NO proNo,
		p.PROD_NAME prodName,
		p.PROD_DETAIL prodDetail,
		p.MANUFACTURE_DAY manuDate,
		p.PRICE price,
		p.IMAGE_FILE fileName,
		p.REG_DATE regDate,
		t.TRAN_STATUS_CODE proTranCode,
		
		u.USER_ID userId,
		u.USER_NAME userName,
		u.PASSWORD password,
		u.ROLE role,
		u.SSN ssn,
		u.CELL_PHONE phone,
		u.ADDR addr,
		u.EMAIL email,
		u.REG_DATE regDate
	 -->
	
	<!-- 이게 아닌듯 하다..Map 을 활용해서 parameterType 1개로 접근해보자..
	<parameterMap id="userId" type="java.lang.String">
	  <parameter property="userId" jdbcType="VARCHAR"/>
	</parameterMap>
	 -->
		
	<select id="getPurchaseList" parameterType="search" resultMap="purchaseSelectMap">
			SELECT * 
			FROM (
				SELECT inner_table.*, ROWNUM AS row_seq
				FROM (
				    SELECT 
				    ROWNUM, t.*, u.* 
				    FROM transaction t, users u 
				    WHERE t.buyer_id = u.user_id 
				) inner_table 
				WHERE ROWNUM &lt;= #{endRowNum})
		    WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	</select>	
	
	<!-- 
	t.tran_no AS tranNo,
	t.prod_no AS prodNo,
	t.buyer_id AS buyer,
	t.payment_option AS paymentOption,
	t.receiver_name AS receiverName,
	t.receiver_phone AS receiverPhone,
	t.dlvy_addr AS dlvyAddr,
	t.dlvy_request AS dlvyRequest,
	t.tran_status_code AS tranCode,
	t.order_date AS orderDate,
	TO_CHAR(t.dlvy_date, 'YYYY-MM-DD') AS dlvyDate,
	u.user_id AS userId,
	u.user_name AS userName,
	u.cell_phone AS phone
	 -->
	
		<!--  위 두번째 subQuery 의  
	 			WHERE ROWNUM &lt;= #{endRowNum} ) 는
	 			WHERE ROWNUM <= #{endRowNum} ) 의미이며..
	 			< 는 keyword 로 &lt; 를	사용.
	 			
	 			<![CDATA[  ~~~  ]]> 를 이용하여 아래와 같이 사용  할 수 있다.
	 			CDATA ==> Character Data 의 의미 Java 에서 \n 같은 특수문자 처리  

				WHERE ROWNUM <![CDATA[ <=]]> #{endRowNum} )
		-->
	
	<update id="updatePurchase" parameterType="purchase">
		UPDATE transaction
		<set>
			payment_option = #{paymentOption:CHAR}, 
			receiver_name = #{receiverName:VARCHAR}, 
			receiver_phone = #{receiverPhone:VARCHAR}, 
			dlvy_addr = #{dlvyAddr:VARCHAR}, 
			dlvy_request = #{dlvyRequest:VARCHAR}, 
			dlvy_date = #{dlvyDate:DATE}
		</set>
		WHERE tran_no = #{tranNo:NUMERIC}
	</update>
	
	<update id="updateTranCodePcsToDlv" parameterType="purchase">
		UPDATE transaction
		<set>
			tran_status_code = #{tranCode:INTEGER}
		</set>
		WHERE prod_no = #{purchaseProd.prodNo:NUMERIC}
	</update>
	
	<update id="updateTranCodeDlvToRcv" parameterType="purchase">
		UPDATE transaction
		<set>
			tran_status_code = #{tranCode:INTEGER}
		</set>
		WHERE tran_no = #{tranNo:NUMERIC}
	</update>
	
	
	<!-- SQL : SELECT ROW Count -->	 
	<select  id="getTotalCount"  parameterType="search"	 resultType="int">
	  	SELECT COUNT(*)
	  	FROM(	SELECT
				ROWNUM,
				t.tran_no tranNo,
				t.prod_no prodNo,
				t.buyer_id userId,
				t.payment_option paymentOption,
				t.receiver_name receiverName,
				t.receiver_phone receiverPhone,
				t.dlvy_addr dlvyAddr,
				t.dlvy_request dlvyRequest,
				t.tran_status_code tranCode,
				t.order_date orderDate,
				TO_CHAR(t.dlvy_date, 'YYYY-MM-DD') dlvyDate,
				u.user_id userId
				FROM transaction t, users u
				WHERE t.buyer_id = u.user_id
				AND u.user_id = #{userId}
				) inner_table
			) count_table					
	 </select>
	 <!-- 
	 <if test="searchCondition != null">
					<where>
						<if test="searchCondition == 0 and searchKeyword !='' ">
			 				p.prod_no LIKE '%' || #{searchKeyword} || '%'
						</if>
						<if test="searchCondition == 1 and searchKeyword !='' ">
			 				p.prod_name LIKE '%' || #{searchKeyword} || '%'
						</if>
						<if test="searchCondition == 2 and searchKeyword !='' ">
			 				p.price LIKE '%' || #{searchKeyword} || '%'
						</if>
					</where>
				</if>
	 검색조건 추가될 시 넣을 것  
	 -->
	
</mapper>